/*************************************************
    GENERAL STYLES
 *************************************************/
 * {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


/************************************************
    UTILITIES
 ************************************************/

.main-container {
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}




/************************************************
    SITE SECTIONS
 ************************************************/